.container1{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 25vw;
    height: 68vh;
    /* background-color: plum; */
    box-shadow: 0px 0px 15px black;
    border-radius: 3px;
}
.head{
    width: inherit;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  
p{
    font-size: 3vmin;
    color: white;
    font-family: montserrat;
    font-weight: 500;
}
.form{
    width: inherit;
    height: 59vh;
    padding: 1.5vmax;
}
.inp1{
    width: 22vw;
    height: 5vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 2.2vmax;
}
.inp1 input{
    width: 19vw;
    height: 5vh;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
}
.inp1 i{
    color: white;
    font-size: 2.8vmin;
    margin-bottom:-2vmin;
}
.save{
    padding: 1vmin 3vmin;
    background-color: white;
    display: block;
    margin: 0 auto;
    margin-top: 3vmax;
    border: none;
    border-radius: .3vmin;
    font-family: gilroy;
    font-weight: 700;
}

